:root {
    --primary-honey: #FFC107;
    --light-honey: #FFECB3;
    --dark-honey: #FFA000;
    --bg-cream: #FFFDE7;
    --text-brown: #5D4037;
    --white: #FFFFFF;
    --accent-green: #8BC34A;
}

* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
}

body {
    background-color: var(--bg-cream);
    background-image: radial-gradient(var(--light-honey) 1px, transparent 1px);
    background-size: 20px 20px; /* Efeito de papel pontilhado sutil */
    color: var(--text-brown);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#gameUI {
    width: 1000px;
    height: 700px;
    background: var(--white);
    border-radius: 40px;
    box-shadow: 0 20px 0px rgba(255, 193, 7, 0.2), 0 30px 60px rgba(93, 64, 55, 0.15);
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-rows: 100px 1fr 80px;
    overflow: hidden;
    border: 8px solid var(--primary-honey);
}